
<!-- Sidebar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            
            <li><a href="/users"><i class="fa fa-users"></i> Users</a></li>
           
        </ul>

    </div><!-- /.navbar-collapse -->

</nav>
